<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="connString" connectionString="Data Source=LAPTOP-AKVIM87O\JENNASQL;Initial Catalog=Pink;Integrated Security=True;" />
    <add name="WindowsFormsApp1.Properties.Settings.PinkConnectionString"
      connectionString="Data Source=LAPTOP-AKVIM87O\JENNASQL;Initial Catalog=Pink;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>